<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet at:</strong>
  <%= @schedule.tweet_at %>
</p>

<p>
  <strong>Screen Name:</strong>
  <%= @schedule.screen_name %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @schedule.tweet %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @schedule.image_url %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
